body{
font-family:Arial;
margin:0;
background:#0b1d3a;
color:white;
}

/* Navbar */

.navbar{
background:#08152b;
padding:15px;
text-align:center;
}

.navbar a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

/* Matches section */

.matches-section{
width:80%;
margin:auto;
padding:30px;
}

.match-date{
margin-top:40px;
border-bottom:1px solid gray;
padding-bottom:5px;
}

/* Match Card */

.match-card{
display:flex;
justify-content:space-between;
align-items:center;
background:white;
color:black;
padding:20px;
margin-top:15px;
border-radius:8px;
}

/* Left side */

.format{
background:#1e3c72;
color:white;
padding:5px 10px;
font-size:12px;
border-radius:5px;
}

/* Teams */

.match-teams{
text-align:center;
}

.team{
display:flex;
align-items:center;
gap:8px;
margin:5px 0;
}

/* Time */

.match-time{
text-align:center;
}

button{
background:#1e90ff;
color:white;
border:none;
padding:8px 12px;
margin-top:5px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#0d6efd;

}
@media (max-width:600px){

.navbar{
flex-direction:column;
}

nav{
margin-top:10px;
}

.cards{
flex-direction:column;
align-items:center;
}

.card{
width:90%;
}
}
