body{
font-family:Arial;
margin:0;
background:#0b1d3a;
color:white;
}

h1{
color:white;
}

table{
margin:auto;
width:70%;
border-collapse:collapse;
background:white;
}

th, td{
padding:10px;
border:1px solid #ccc;
}

th{
background:#003366;
color:#08152b;
}

tr:nth-child(even){
background:#f2f2f2;
}

tr:hover{
background: whitesmoke;
}
body{
font-family:Arial;
margin:0;
background:#0b1d3a;
color:#1f5fae;
}

/* Navbar */

.navbar{
background:#08152b;
padding:15px;
text-align:center;
}

.navbar a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

@media screen and (max-width: 768px){

    h1{
        font-size: 20px;
    }

    table{
        width: 95%;
        font-size: 14px;
    }

    th, td{
        padding: 6px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    .navbar a{
        padding: 8px;
        font-size: 16px;
    }

}





